body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    margin: 0px;
}

/* HEADER */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

/* HERO */
.hero {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

/* INFO */
.info {
    padding: 16px;
}

.random-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 16px;
}

.images {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.frame {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    justify-items: space-around;
}

/* QUOTE */
.quote {
    background-color: #e5e7eb;
    padding: 32px;
}

.quoted {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quotee {
    font-size: 22px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

/* ACTION */
.action {
    padding: 16px;
}

.box {
    background-color: #3882f6;
    padding: 48px;
}

/* FOOTER */
.footer {
    background-color: #1f2937;
    padding: 32px;
    color: #f9faf8;
}